@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import "./Header.scss";

$headerColor: lightblue;

.App {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  background-color: white;
}

