@mixin clothes-div($color1,$color2,$textColor){
    // background-color:$color;
    color:$textColor;
    background: linear-gradient($color1,$color2);  
}

.defaultStyle{
    height: 350px;
    width: 200px;
    margin: auto;
    border-radius: 0.5em; 
}

.cold{
   @include clothes-div(blue,white,white)
}

.chilli{
  @include clothes-div(skyblue,white,black)
}

.warm{
   @include clothes-div(orange,white,black)
}

.hot{
  @include clothes-div(#ee4441,white,black)
}


