@import "./variables";
@mixin clothes-div($color1){
    border: 3px solid $color1; 
}

@mixin tempStyle($Tcolor){
  background-color:$Tcolor
}

.mainDiv{
  position: absolute;
  top: 200px;
  left: 36.5%;
}

.defaultStyle{
    height: 480px;
    width: 400px;
    margin: auto;
    border-radius: 0.5em;
    border: $borderStyle; 
}
.outfitTitle{
  color:white;
}
.clothesImg{
  position: absolute;
  left: -500px;
  top: 50px;
  height:450px;
  width:450px;
}
.titleDiv{
  background-color:$primaryColor;
  position: absolute;
  width: 400px;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}
.suggestDiv{
  margin-top: 80px;
}
.innerDiv{
  margin-top: -27px;
}
.innerDiv2{
  margin-top: 40px;
}
.cold{
   @include clothes-div(blue)
}
.cold2{
  @include tempStyle(blue)
}

.chilli{
  @include clothes-div(skyblue)
}
.chilli2{
  @include tempStyle(skyblue)
}

.warm{
   @include clothes-div(orange)
}
.warm2{
  @include tempStyle(orange)
}
.hot{
  @include clothes-div(#ee4441)
}
.hot2{
  @include tempStyle(#ee4441)
}

@media (max-width: 450px){
  .mainDiv{
    position: absolute;
    top: 325px;
    left: 8%;
  }

  .defaultStyle{
    height:395px;
  }
}




