@import "./variables";
@import './ClothingInfo.scss';
@mixin tempStyle($Tcolor){
  
    background-color:$Tcolor
}
.header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:$primaryColor;
    margin-top: -21px;
    height:120px;
}
.cold2{
    @include clothes-div(blue)
}
 .chilli2{
   @include clothes-div(skyblue)
 }
 .warm2{
    @include clothes-div(orange)
 }
 .hot2{
   @include clothes-div(#ee4441)
 }
.location{
    color: white;
}

@media (max-width: 450px){
  .header-div{
    width: 115%;
  }
}

